<!DOCTYPE html>
<html>
<head>
  <title>Portfolio.Ryo771199</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content="width=320, minimum-scale=0.5" name="viewport" />
</head>
<%
admin_name = 'Portfolio.Ryo719999';
%>
<body class="body-class">
	<div class="grid-x text-center" style="font-size:1.6em;">
		<div class="large-12 small-12 columns" >
			<!-- Add a Sticky Menu -->
			<div data-sticky-container>
			  <div data-sticky data-margin-top="0" id="magellan_menu">
			      <ul class="menu align-right" data-magellan>
			        <li><a href="#first">Top</a></li>
			        <li><a href="#second">Skills</a></li>
			        <li><a href="#third">Profile</a></li>
			      </ul>
			  </div>
			</div>
		</div>
	</div>

<%= yield %>

<div class="grid-x" style="font-size:1.5em;">
	<div class="large-12 small-12 columns text-center">
		<div class="footer">
			Copyright &copy; 2012 <script>getCopyRight();</script><%=admin_name %> All rights reserved.
		</div>	
	</div>
</div>

<script src="../js/vendor/jquery.js?body=1"></script>
<script src="../js/vendor/foundation.min.js?body=1"></script>
<script>
	$(document).foundation();
</script>
</body>
</html>
